@import url('http://fonts.cdnfonts.com/css/apercu');
    /* font-family: 'Apercu', sans-serif; */
    /* font-family: 'Apercu Mono', sans-serif; */

:root {
    --primary-color: rgb(255, 241, 230);
    --secondary-color: rgb(18, 22, 45);
    --accent-color: rgb(54, 19, 220);
    --accent-color-2: rgb(113, 115, 129);
    --accent-color-3: #FF0606;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Apercu', sans-serif;
    color: var(--secondary-color);
}

nav {
    height: 12vh;
    color: var(--secondary-color);
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 2rem;
}
nav > .title {
    border: solid var(--secondary-color) 2px;
    box-shadow: 8px 8px 0 0 var(--secondary-color);
    padding: 5px 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

#todo-item {
    border: solid var(--accent-color-2) 1px;
    padding: 16px 12px;
    width: 400px;
    font-size: 24px;
    margin: 0 10px 0 0;
    transition: border-color 0.3s ease;
    font-family: 'Apercu';
}
#todo-item:hover,
#todo-item:focus {
    border-color: var(--accent-color);
    outline: none;
}
#add-button {
    background-color: var(--accent-color);
    width: 90px;
    font-size: 24px;
    border: solid var(--accent-color) 1px;
    color: white;
    padding: 16px 0;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
}
#add-button:hover {
    box-shadow: 5px 5px 0 0 var(--secondary-color);
}
#add-button:disabled {
    background-color: var(--accent-color-2);
    border: solid var(--accent-color-2) 1px;
    cursor: default;
}
#add-button:disabled:hover {
    box-shadow: none;
}

#todo-list {
    background-color: white;
    width: 500px;
    padding: 10px 20px;
    list-style: none;
    border: solid var(--secondary-color) 1px;
}
#todo-list li {
    margin: 10px 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: 24px;
    position: relative;
}
#todo-list li::after {
    content: 'delete';
    right: 0;
    position: absolute;
    font-size: 15px;
    color: var(--accent-color-3);
    cursor: pointer;
    text-decoration: underline;
}